{% extends 'index.html' %}
{% load static %}
{% block extra-head %}
    <!-- css files -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/attendance.css' %}" />
    <link rel="stylesheet" href="{% static 'css/notice.css' %}" />
{% endblock extra-head %}
{% block nav %}
    <section id="nav">
        <nav class="top-navbar">
          <div class="profile-picture">
            <img src="{% static '/img/profile.jpg' %}" />
          </div>
          <div class="school-name">
            <h2>Sample Sr. Sec. School</h2>
            <h5 class="faded">Delhi</h5>
          </div>
        </nav>
      </section>
{% endblock nav %}
{% block content %}
    <section id="main">
         <!-- Start attendance -->
      <section id="start-att">
        <div class="component-back">
          <div>
            <h2>Your Homework</h2>
          </div>
          <!-- <button class="btn btn-lg">Post</button> -->
        </div>
      </section>

      <!-- due completed buttons -->
      <section id="due-compl">
        <div class="due-compl">
          <button class="btn btn-black">Due</button>
          <button class="btn">Completed</button>
        </div>
      </section>

      <!-- Student List -->
      <section id="home-menu">
        <div class="home-menu">
        {% for homework in homeworks %} 
          <div class="menu-list notice-list">
            <div class="notice-list-info">
              <p>{{ homework.homework.date.date }} | {{ homework.homework.date.time }}</p>
              <p>
                <span>{{ homework.subject.subject }} </span><br />
                <span>by {{ homework.subject.teacher.fname }} {% if homework.subject.teacher.mname %}{{ homework.subject.teacher.mname }}{% endif %} {% if homework.subject.teacher.lname %} {{ homework.subject.teacher.mname }} {% endif %}</span>
              </p>
            </div>
            <h2>Topic : {{ homework.homework.topic }}</h2>
            <p>
              {{ homework.homework.desc }}
            </p>
            <div class="duedate-submit-btn">
              <a href="{% url 'homework:submitHomework' homework.homework.id %}">
                <button class="btn btn-green">Submit</button>
              </a>
              <p><span>Due On: </span><br /><span>{{ homework.homework.due_date.date }} | {{ homework.homework.due_date.time }}</span></p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </section>
{% endblock content %}