{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  {% block extra-head %}{% endblock extra-head %}
  <body>
    <section id="main">
      <!-- TOP NAVBAR -->
      {% block nav %}
      <section id="nav">
        <nav class="top-navbar">
          <div class="topnav-profile">
            <div class="profile-picture">
              <img src="{% static 'img/profile.jpg' %}" />
            </div>
            <h2>Hey! <span id="topnav-username">{{ user.username }}</span></h2>
          </div>
          <div class="school-name">
            <h2><span id="schoolName">{{ school.school }}</span></h2>
            <h5 class="faded"><span id="schoolAddress">{{ school.address }}</span></h5>
          </div>
        </nav>
      </section>
      {% endblock nav %}
      {% block school-img %}
      <!-- school image -->
      <section class="school-image">
        <div><img src="{% static '/img/school.jpg' %}" /></div>
      </section>
      {% endblock school-img %}
      <!-- Home Menu List -->
      <!-- Go to section -->
      {% block content %}
      <section id="goto">
        <div class="goto">
          <div class="goto-head">
            <i class="fas fa-chevron-circle-right"></i>
            <h2>Go to</h2>
          </div>
          <div class="goto-list">
            <div class="goto-item">
              <a href="{% url 'exam:progress' %}">
                <div>
                  <img src="{% static '/img/graphic-progression.png' %}" alt="" />
                  <h1>Progress</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="{% url 'exam:leaderboard' %}">
                <div>
                  <img src="{% static '/img/leaderboard.png' %}" alt="" />
                  <h1>Leaderboard</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="{% url 'attendance:applyLeave' %}">
                <div>
                  <img src="{% static '/img/leave.png' %}" alt="" />
                  <h1>Apply Leave</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="#">
                <div>
                  <img src="{% static '/img/discussion.png' %}" alt="" />
                  <h1>Discussion</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="#">
                <div>
                  <img src="{% static '/img/book.png' %}" alt="" />
                  <h1>Syllabus</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
                <a href="#">
                  <div>
                    <img src="{% static '/img/fees.png' %}" alt="" />
                    <h1>Fees</h1>
                  </div>
                </a>
              </div>
              <div class="goto-item">
                <a href="#">
                  <div>
                    <img src="{% static 'img/badge.png' %}" alt="" />
                    <h1>Achievements</h1>
                  </div>
                </a>
              </div>
              <div class="goto-item">
                <a href="#">
                  <div>
                    <img src="{% static '/img/result.png' %}" alt="" />
                    <h1>Result</h1>
                  </div>
                </a>
              </div>
              <div class="goto-item">
                <a href="{% url 'logout' %}">
                  <div>
                    <img src="{% static '/img/logout.png' %}" alt="" />
                    <h1>Logout</h1>
                  </div>
                </a>
              </div>
          </div>
        </div>
      </section>
      {% endblock content %}

      <!-- BOTTOM NAVBAR -->
      {% block bottom-nav %}
      <section id="bottom-nav">
        <nav class="bottom-navbar">
          <div class="nav-links">
            <div class="nav-button">
              <a href="{% url 'student:studenthome' %}">
                <img src="{% static '/img/home.png' %}" />
                <h5 class="faded">Home</h5>
              </a>
            </div>
            <div class="nav-button">
              <a href="{% url 'notice:studentNotice' %}">
                <img src="{% static '/img/notice.png' %}" />
                <h5 class="faded">Notice</h5>
              </a>
            </div>
            <div class="nav-button">
              <a href="{% url 'homework:homework' 0 %}">
                <img src="{% static 'img/homework.png' %}" />
                <h5 class="faded">Homework</h5>
              </a>
            </div>
            <div class="nav-button">
              <a href="{% url 'attendance:studentAttendance' %}">
                <img src="{% static '/img/check.png' %}" />
                <h5 class="faded">Attendance</h5>
              </a>
            </div>
          </div>
        </nav>
      </section>
      {% endblock bottom-nav %}
    </section>
  </body>
  {% block script %}{% endblock script %}
</html>