{% extends 'index.html' %} 
{% load static %} 
{% block extra-head %}
<link rel="stylesheet" href="{% static '/css/attendance.css' %}" />
<link rel="stylesheet" href="{% static '/css/notice.css' %}" />
{% endblock extra-head %}
{% block school-img %}{% endblock school-img %}
{% block content %}
<section id="main">
  <section id="start-att">
    <div class="component-back">
      <div>
        <h2>Your Notices</h2>
      </div>
      <!-- <button class="btn btn-lg">Post</button> -->
    </div>
  </section>
  <section id="home-menu">
    <div class="home-menu">
      {% if notices %} {% for notice in notices %}
      <div class="menu-list notice-list">
        <p>{{ notice.note.date.date }} | {{ notice.note.date.time }} <br /> 
        {% if notice.note.posted_by %}<span>Posted By: {{notice.note.posted_by}}</span>{% endif %}</p>
        <h2>{{ notice.note.topic }}</h2>
        <p>{{ notice.note.desc }}</p>
        <p>to Class {{ student.Class.Class }}th</p>
      </div>
      {% endfor %} {% else %}
      <section id="not-found">
        <div class="not-found">
          <h1>
            <strong>Wait! Currently no notices are there.</strong>
          </h1>
        </div>
      </section>
      {% endif %}
    </div>
  </section>
</section>
{% endblock content %}
