{% extends 'home.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/attendance.css' %}" />
    <link rel="stylesheet" href="{% static '/css/notice.css' %}" />
{% endblock extra-head %}
{% block school-img %}{% endblock school-img %}
{% block content %}
<section id="main">
    <!-- Start attendance -->
      <section id="start-att">
        <div class="component-back">
          <div>
            <h2>New Notice</h2>
          </div>
          <a href="{% url 'notice:createNotice' %}"
            ><button class="btn btn-lg">Post</button></a
          >
        </div>
      </section>

      <section class="notice-toggle">
        <div class="notice-buttons">
          <button class="btn btn-md">All</button>
          <button class="btn btn-md">Sent</button>
        </div>
      </section>

      <!-- Student List -->
      <section id="home-menu">
        <div class="home-menu">
          {% for receiver in receivers %}
          <div class="menu-list notice-list">
            <p>{{ receiver.note.date.date }} | {{ receiver.note.date.time }}</p>
            <h2>{{ receiver.note.topic }}</h2>
            <p>
              {{ receiver.note.desc }}
            </p>
            <p>to Class {{ receiver.receiver.Class }}th</p>
          </div>
          {% endfor %}
        </div>
      </section>
</section>
{% endblock content %}