{% extends 'attendance.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static 'css/attendance.css' %}" />
    <link rel="stylesheet" href="{% static 'css/notice.css' %}" />
{% endblock  %}
{% block content %}
    <section id='main'>
        <section id="start-att">
        <div class="component-back">
          <div>
            <h2>New Notice</h2>
          </div>
          <button class="btn btn-lg">Post</button>
        </div>
      </section>

      <!-- Student List -->
      <section id="home-menu">
        <div class="home-menu">
          <div class="menu-list notice-list">
            <p>16/10/2021 | 9:30am</p>
            <h2>Regarding upcoming class test on monday</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <p>to Class 9th</p>
          </div>
          <div class="menu-list notice-list">
            <p>16/10/2021 | 9:30am</p>
            <h2>Regarding upcoming class test on monday</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <p>to Class 9th</p>
          </div>
          <div class="menu-list notice-list">
            <p>16/10/2021 | 9:30am</p>
            <h2>Regarding upcoming class test on monday</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <p>to Class 9th</p>
          </div>
          <div class="menu-list notice-list">
            <p>16/10/2021 | 9:30am</p>
            <h2>Regarding upcoming class test on monday</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <p>to Class 9th</p>
          </div>
          <div class="menu-list notice-list">
            <p>16/10/2021 | 9:30am</p>
            <h2>Regarding upcoming class test on monday</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <p>to Class 9th</p>
          </div>
        </div>
      </section>
    </section>
{% endblock %}