{% extends 'home.html' %}
{% load static %}
{% block extra-head %}
<link rel="stylesheet" href="{% static 'css/attendance.css' %}" />
<link rel="stylesheet" href="{% static 'css/adminList.css' %}" />
{% endblock extra-head %} 
{% block school-img %}{% endblock school-img %}
{% block content %}
<section id="main">
    <section id="start-att">
            <div class="component-back">
                <div>
                    <h2>Students</h2>
                    <p>Class 9th</p>
                </div>
            </div>
        </section>
        <section>
            <div class="student-list ">
                <div class=" add-stud-list">
                    <h4>Add new Student</h4>
                    <button class="btn btn-md"><i class="fas fa-user-edit"></i>Add</button>
                </div>
                {% for student in students %} {% for i in l %}
                {% if forloop.counter == forloop.parentloop.counter %}
                <div class=" add-stud-list ">
                    <p>{{ i }}. {{ student.fname }} {% if student.mname %} {{ student.mname }} {% endif %} {% if student.lname %} {{ student.lname }} {% endif %} | {{ student.roll_no }} </p>
                    <button class="btn btn-sm"><i class="fas fa-user-edit"></i>Edit</button>
                </div>
                {% endif %}
                {% endfor %} {% endfor %}
            </div>
        </section>
</section>
{% endblock content %}