{% extends 'home.html' %} {% load static %} {% block extra-head %}
<link rel="stylesheet" href="{% static 'css/attendance.css' %}" />
{% endblock extra-head %} {% block nav %}
<section id="nav">
  <nav class="top-navbar">
    <div class="profile-picture">
      <img src="{% static '/img/profile.jpg' %}" />
    </div>
    <div class="school-name">
      <h2>Sample Sr. Sec. School</h2>
      <h5 class="faded">Delhi</h5>
    </div>
  </nav>
</section>
{% endblock nav %} {% block content %}
<!-- Start attendance -->
{% if msg %}
<section id="not-found">
  <div class="not-found">
    <h1>
      <strong>You're not class teacher of any class.</strong>
    </h1>
  </div>
</section>
{% else %}
<section id="start-att">
  <div class="component-back">
    <div>
      <h2>Start Attendance</h2>
      <p>Class 9th</p>
    </div>
    <button class="btn btn-lg">Start</button>
  </div>
  <div class="att-date flex">
    <button class="btn btn-black">16/10/2021</button>
    <button class="btn btn-black">Present All</button>
  </div>
</section>

<!-- Student List -->
<section id="home-menu">
  <div class="home-menu">
    {% for student in students %}
    <div class="menu-list att-student-list">
      <div>
        <p>
          {{ forloop.counter }}. {{ student.fname }} {% if student.mname != "NULL"%}{{student.mname}}{% endif %} {% if student.lname != "NULL"%}{{student.lname}}{% endif %} | {{ student.roll_no }}
        </p>
      </div>
      <div id="{{ student.id }}" class="att-btns">
        <button class="btn btn-md" onclick="btnHandler(event)" value="false">
          Absent
        </button>
        <button class="btn btn-md" onclick="btnHandler(event)" value="true">
          Present
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endif %} 
{% endblock content %}
{% block script %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"
  integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock script %}
