{% extends 'attendance.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/notice.css' %}" />
{% endblock extra-head %}
{% block content %}
    <section id="main">
        <section id="notice-accor">
        <div class="notice-class-accor component-back">
          <h2>Select Class</h2>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="notice-class-list">
          <div class="notice-class-elem notice-all">
            <input type="checkbox" name="" id="" />
            <p>Select All</p>
          </div>
          {% for class in classes %}
          <div class="notice-class-elem">
            <input type="checkbox" name="" id="" />
            <p>Class {{ class.Class }}{% if class.section %}{{ class.section }}{% endif %}</p>
          </div>
          {% endfor %}
        </div>
      </section>

      <!-- notice subject accordion -->
      <section id="notice-stud-accor">
        <div class="notice-stud-accor component-back">
          <h2>Select Student</h2>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="notice-stud-list">
          <div class="notice-stud-elem">
            <input type="checkbox" name="" id="" />
            <p>Select All</p>
          </div>
          {% for student in students %}{% for i in l %}
          {% if forloop.counter == forloop.parentloop.counter %}
          <div class="notice-stud-elem">
            <input type="checkbox" name="" id="" />
            <p>{{ i }}. {{ student.fname }} {% if student.mname %}{{ student.mname }}{% endif %} {% if student.lname %}{{ student.lname }}{% endif %}</p>
          </div>
          {% endif %}
          {% endfor %} {% endfor %}
        </div>
      </section>

      <!-- Notice content -->
      <section id="content-info">
        <div class="content-info">
          <div class="content-topic">
            <label for=""><h2>Topic</h2></label>
            <input type="text" />
          </div>
          <div class="content-topic content-desc">
            <label for=""><h2>Description</h2></label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
          <button class="btn btn-black">Post Notice</button>
        </div>
      </section>
    </section>
{% endblock content %}