{% extends 'attendance.html' %}
{% load static %}
{% block extra-head %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="stylesheet" href="{% static '/css/attendance.css' %}" />
    <link rel="stylesheet" href="{% static '/css/notice.css' %}" />
{% endblock extra-head %}
{% block content %}
    <section id="main">
    <section id="start-att">
        <div class="component-back">
          <div>
            <h2>Create Homework</h2>
          </div>
          <a href="{% url 'homework:createHomework' %}"
            ><button class="btn btn-lg">Post</button></a
          >
        </div>
      </section>

      <!-- homework list -->

      <section id="home-menu">
        <div class="home-menu">
          {% for subject in subjects %}
          <div class="menu-list notice-list">
            <div class="notice-list-info">
              <p>14/10/2021 | 9:30am</p>
              <p>
                <span>Maths </span><br />
                <span>Class 9th</span>
              </p>
            </div>
            <h2>Topic : Exercise 2</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <div class="duedate-submit-btn">
              <button class="btn btn-green">View</button>
              <p><span>Due On: </span><br /><span>16/10/2021 | 5:00pm</span></p>
            </div>
          </div>
          {% endfor %}
          <div class="menu-list notice-list">
            <div class="notice-list-info">
              <p>14/10/2021 | 9:30am</p>
              <p>
                <span>Maths </span><br />
                <span>Class 9th</span>
              </p>
            </div>
            <h2>Topic : Exercise 2</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <div class="duedate-submit-btn">
              <button class="btn btn-green">View</button>
              <p><span>Due On: </span><br /><span>16/10/2021 | 5:00pm</span></p>
            </div>
          </div>
          <div class="menu-list notice-list">
            <div class="notice-list-info">
              <p>14/10/2021 | 9:30am</p>
              <p>
                <span>Maths </span><br />
                <span>Class 9th</span>
              </p>
            </div>
            <h2>Topic : Exercise 2</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <div class="duedate-submit-btn">
              <button class="btn btn-green">View</button>
              <p><span>Due On: </span><br /><span>16/10/2021 | 5:00pm</span></p>
            </div>
          </div>
          <div class="menu-list notice-list">
            <div class="notice-list-info">
              <p>14/10/2021 | 9:30am</p>
              <p>
                <span>Maths </span><br />
                <span>Class 9th</span>
              </p>
            </div>
            <h2>Topic : Exercise 2</h2>
            <p>
              "But I must explain to you how all this mistaken idea of
              denouncing pleasure and praising pain was born and I will give you
              a complete account of the system, and expound the actual teachings
              of the great explorer of the truth, the master-builder of human
              happiness. No one rejects, dislikes, or avoids pleasure itself,
              because it is pleasure, but because those who."
            </p>
            <div class="duedate-submit-btn">
              <button class="btn btn-green">View</button>
              <p><span>Due On: </span><br /><span>16/10/2021 | 5:00pm</span></p>
            </div>
          </div>
        </div>
      </section>
    </section>
{% endblock content %}