{% extends 'home.html' %} 
{% load static %} 
{% block extra-head %}
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
<link rel="stylesheet" href="{% static '/css/YourClasses.css' %}" />
{% endblock extra-head %}
{% block school-img %}{% endblock school-img %} 
{% block content %} 
{% if msg %} {{ msg }} {% else %}
<section id="main">
  <!-- your classes heading -->
  <div class="class-heading">
    <span><i class="fas fa-angle-left"></i></span>
    <h1>Your Classes</h1>
  </div>

  <!-- class teacher -->
  
  <section class="class-teacher">
    <div class="component-back">
      {% if class is not None %}
      <h2>You are class teacher of</h2>
      <a href="{% url 'teacher:addStudent' class.id %}"
        ><button class="btn btn-md">Class {{ class.Class }}th {{ class.section }} </button></a>
        {% else %}<h2> You are not class teacher of any class.</h2> {% endif %}
    </div>
  </section>
  

  <!-- other classes -->

  <section class="All-classes">
    <div class="component-back">
      <div class="all-class-heading"><h2>All classes</h2></div>
      <div class="all-class-buttons">
        {% for class in classes %}
        <!-- here subject object are rendered -->
        <a href="{% url 'teacher:classStudentList' class.Class.id %}"
          ><button class="btn btn-md class-btn">
            {{class.Class.Class}}th {% if class.id %}{{class.Class.section}}
            Class{% endif %}
          </button></a
        >
        {% endfor %}
      </div>
    </div>
  </section>
</section>
{% endif %} {% endblock content %}
