/* basic styling */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika&family=Roboto:wght@300&display=swap");
:root {
  /* --dark-green: #52b788; */
  /* --dark-green: #70d6ff; */
  /* --dark-green: #ff70a6; */
  --dark-green: #1ab7ea;
  --light-green: #9cdabd;
  --dark-red: #fb3f4a;
  --light-red: #fb878e;
  --light-red: #2196f3;
  /* --light-grey: #f8f8f8; */
  --light-grey: #f7f7f8;
  --dark-grey: #e7e7e8;
  --dark: #393939;
  --faded: #555555;
  --center-width: 85%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--dark);
  color: #fff;
}

body {
  font-family: "Arial", sans-serif;
  /* font-family: 'Metropolis-Regular'; */
  /* font-family: 'Signika', sans-serif; */
  -webkit-font-smoothing: antialiased;
  /* background: var(--light-grey); */
}

::selection {
  background: var(--dark);
  color: var(--light-grey);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

#main {
  margin: auto;
  margin-bottom: 60px;
  /* height: 100vh; */
  width: 100%;
  background-color: #fff;
  /* position: relative; */
  /* overflow: scroll; */
}

/* top navbar */

#nav {
  margin-bottom: 30px;
}

.top-navbar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* height: 60px; */
  width: var(--center-width);
  /* background-color: #F8F8F8; */
}

.topnav-profile{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.topnav-profile > h2{
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .top-navbar {
    flex-direction: column;
  }
}
  

.profile-picture {
  height: 50px;
  width: 50px;
}

.profile-picture img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
}

.school-name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* school Image */

.school-image {
  /* margin: 1em auto; */
  margin: 0 auto;
  height: auto;
  width: 85%;
}

.school-image img {
  height: 210px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Home menu list */

#goto {
  margin-bottom: 60px;
}

.home-menu,
.goto {
  margin: 35px auto 0;
  width: var(--center-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-menu-head,
.goto-head {
  flex-direction: row;
  display: flex;
  align-items: center;
}

/* parent > child > grandchild:number */

.home-menu-head > h2,
.goto-head > h2 {
  margin: 0px 10px;
}

.menu-list,
.component-back {
  background-color: var(--light-grey);
  /* border: 0.5px solid rgba(182, 182, 182, 0.5); */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  /* height: 60px; */
  padding: 10px 16px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* .menu-list:hover, 
.component-back:hover {
  box-shadow: none;
} */

/* go to */

/* .goto {
  padding-bottom: 40px;
} */

.goto-list {
  /* width: var(--center-width); */
  display: flex;
  margin: 10px 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.goto-item {
  display: flex;
  flex-direction: column;
  max-width: 15%;
  align-items: center;
  background-color: var(--light-grey);
  padding: 30px 0px;
  border-radius: 10px;
  margin: 20px;
  width: 15%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.goto-item > a {
  color: #000;
  width: 100%;
}

.goto-item > a > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goto-item h1 {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  /* text-transform: uppercase; */
}

@media screen and (max-width: 800px) {
  .goto-item {
    max-width: 25%;
    width: 25%;
    margin: 10px;
    padding: 15px 0px;
  }
  .goto-item h1 {
    font-size: calc(3vw);
    margin-top: 5px;
  }
}

.goto-item img {
  width: 40%;
  height: 40%;
  padding: 10px 0;
}

/* bottom-navbar */

.bottom-navbar {
  margin: auto;
  position: fixed;
  bottom: 0;
  background-color: var(--light-grey);
  height: 60px;
  width: 100%;
}

.nav-links {
  margin: auto;
  width: var(--center-width);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-button {
  height: 60px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.nav-button > a {
  width: 100%;
  text-align: center;
}

.nav-button img {
  height: 30px;
}

.nav-button:hover {
  /* background-color: var(--light-red); */
  /* border-radius: 5px; */
  border-bottom: 6px solid var(--dark);
  color: var(--dark-green) !important;
}

.nav-current {
  border-bottom: 6px solid var(--dark);
  color: var(--dark-green) !important;
}

/* buttons */

.btn {
  display: inline-block;
  background: var(--dark-green);
  color: #fff;
  padding: 10px 15px;
  min-width: 120px;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45); */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.btn:hover {
  /* opacity: 0.9; */
  box-shadow: 0px 15px 20px rgba(133, 130, 130, 0.4);
  transform: translateY(-3px);
  color: var(--dark);
}

/* .btn {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
.btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
} */

.btn-xl {
  font-size: 2rem;
}

.btn-lg {
  font-size: 1.5rem;
}

.btn-md {
  font-size: 1rem;
}

.btn-sm {
  font-size: 0.8rem;
  min-width: 90px;
}

.btn-black {
  background-color: var(--dark);
  color: #fff;
}

.btn-black:hover {
  color: #fff;
}

.btn-clicked {
  opacity: 0.5;
}

/* buttons with color btn-<color-name> */

.btn-black {
  background-color: var(--dark);
}

.btn-red {
  background-color: var(--light-red);
}

.btn-green {
  background-color: var(--light-green);
}

.btn-dark-green {
  background-color: rgb(107, 201, 107);
}

/* Utilities */

p {
  color: var(--dark);
  font-size: 15px;
  font-weight: 300;
}
h1 {
  color: var(--dark);
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
}
h2 {
  color: var(--dark);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

h3 {
  color: var(--dark);
  font-size: 16px;
  font-weight: 600;
}

h5 {
  color: var(--dark);
  font-size: 12px;
  font-weight: 600;
}

h6 {
  color: var(--dark);
  font-size: 8 px;
  font-weight: 600;
}

.faded {
  color: var(--faded);
}

.margin-left {
  margin-left: 1em;
}

.margin-right {
  margin-right: 1em;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.text-underline {
  text-decoration: underline;
}

/* modal css */
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  background-color: white;
  width: 50%;
  height: 70vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  border-radius: 5px;
}

.modal-close {
  padding: 3px 6px;
  border-radius: 5px;
  background-color: var(--dark-grey);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .modal {
    width: 80%;
    height: 70vh;
  }
}