{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Makeasy-Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div class="panda">
      <div class="ear"></div>
      <div class="face">
        <div class="eye-shade"></div>
        <div class="eye-white">
          <div class="eye-ball"></div>
        </div>
        <div class="eye-shade rgt"></div>
        <div class="eye-white rgt">
          <div class="eye-ball"></div>
        </div>
        <div class="nose"></div>
        <div class="mouth"></div>
      </div>
      <div class="body"></div>
      <div class="foot">
        <div class="finger"></div>
      </div>
      <div class="foot rgt">
        <div class="finger"></div>
      </div>
    </div>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="hand"></div>
      <div class="hand rgt"></div>
      <h1>Makeasy Login</h1>
      <div class="form-group">
        <input required="required" class="form-control"  name="username" />
        <label class="form-label">Username </label>
      </div>
      <div class="form-group">
        <input
          id="password"
          type="password"
          required="required"
          class="form-control"
          name="password"
        />
        <label class="form-label">Password</label>
        <p class="alert">Invalid Credentials..!!</p>
        <button class="btn">Login</button>
      </div>
    </form>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>