{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra-head %}{% endblock extra-head %}
  </head>
{% endblock head %}
  <body>
    <section id="main">
    {% block nav %}
      <!-- TOP NAVBAR -->
      <section id="nav">
        <nav class="top-navbar">
          <div class="topnav-profile">
            <div class="profile-picture">
              <img src="{% static 'img/profile.jpg' %}" />
            </div>
            <h2>Hey! <span id="topnav-username">{{ user.username }}</span></h2>
          </div>
          <div class="school-name">
            <h2><span id="schoolName">{{ school.school }}</span></h2>
            <h5 class="faded"><span id="schoolAddress">{{ school.address }}</span></h5>
          </div>
        </nav>
      </section>
      {% endblock nav %}
      {% block content %}
      <!-- school image -->
      <section class="school-image">
        <div><img src="{% static '/img/school.jpg' %}" /></div>
      </section>
            <!-- Go to section -->
      <section id="goto">
        <div class="goto">
          <div class="goto-head">
            <i class="fas fa-chevron-circle-right"></i>
            <h2>Go to</h2>
          </div>
          <div class="goto-list">
            <div class="goto-item">
              <a href="{% url 'exam:superadminExam' %}">
                <div>
                  <img src="{% static '/img/test.png' %}" alt="" />
                  <h1>Exams</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="{% url 'superadmin:classes' %}">
                <div>
                  <img src="{% static '/img/class.png' %}" alt="" />
                  <h1>Classes</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="{% url 'superadmin:students' %}">
                <div>
                  <img src="{% static '/img/students.png' %}" alt="" />
                  <h1>Students</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="{% url 'superadmin:teachers' %}">
                <div>
                  <img src="{% static '/img/teacher.png' %}" alt="" />
                  <h1>Teachers</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="">
                <div>
                  <img src="{% static '/img/book.png' %}" alt="" />
                  <h1>Syllabus</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="{% url 'superadmin:addTeacher' %}">
                <div>
                  <img src="{% static '/img/book.png' %}" alt="" />
                  <h1>Add Teacher</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="{% url 'superadmin:addStudent' %}">
                <div>
                  <img src="{% static '/img/book.png' %}" alt="" />
                  <h1>Add Student</h1>
                </div>
              </a>
            </div>
            <div class="goto-item">
              <a href="{% url 'logout' %}">
                <div>
                  <img src="{% static '/img/logout.png' %}" alt="" />
                  <h1>Logout</h1>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

        {% endblock content %}
      <!-- BOTTOM NAVBAR -->
      {% block bottom-nav %}
      <section id="bottom-nav">
        <nav class="bottom-navbar">
          <div class="nav-links">
            <div class="nav-button">
              <a href="{% url 'superadmin:adminhome' %}">
                <img src="{% static '/img/home.png' %}" />
                <h5 class="faded">Home</h5>
              </a>
            </div>
            <div class="nav-button">
              <a href="{% url 'notice:superAdminNotice' 'all' %}">
                <img src="{% static '/img/notice.png' %}" />
                <h5 class="faded">Notice</h5>
              </a>
            </div>
            <div class="nav-button">
              <a href="script:javascript.void(0)">
                <img src="{% static '/img/homework.png' %}" />
                <h5 class="faded">Fees</h5>
              </a>
            </div>
            <div class="nav-button">
              <a href="{% url 'superadmin:info' %}">
                <img src="{% static '/img/check.png' %}" />
                <h5 class="faded">Info</h5>
              </a>
            </div>
          </div>
        </nav>
      </section>

      {% endblock bottom-nav %}
    </section>
    {% block script %}{% endblock script %}
  </body>
</html>